.mantineNavLinkRoot {
  border-radius: 1px;
  height: 70px;
  padding-inline: 20px !important;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.mantineNavLinkRoot[data-active] {
  font-weight: 500;
}

.mantineNavLinkBody {
  text-align: center;
}

.headerRoot {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  border-bottom: 2px solid var(--mantine-color-default-border);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  /* background-color: var(--mantine-color-body); */
}
.mantineNavLinkRoot {
  border-radius: 1px;
  height: 70px;
  padding-inline: 20px !important;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
}

.mantineNavLinkRoot[data-active] {
  font-weight: 500;
}

.mantineNavLinkBody {
  text-align: center;
}

.headerRoot {
  @mixin light {
    background-color: #f5f5f5;
  }
  @mixin dark {
    background-color: #1f1f1f;
  }
}

.mantineAvatarRoot:hover, .mantineNavLinkRoot:hover:not([data-active]) {
  @mixin light {
    background-color: rgba(10, 10, 10, 0.1);
  }
  @mixin dark {
    background-color: rgba(255, 255, 255, 0.09);
  }
}

.close {
  transform: translateX(-10);
}